.element{
    width: 100%;
    background-color: $bg-color;
    .container{
        width: 80%;
        margin: 0px auto;
        padding:30px 0px;
        .element-text{
            margin: 20px 0px;
            h2{
                color: $primery-color;
                font-size: 30px;
                font-weight: 400;
            }
            p{
                color: $pg-color;
                font-size: 15px;
                margin: 20px 0px;
                font-weight: 300;
            }
        }
        .element-box{
            @include flex-box;
            margin: 50px 0px;
            .element-card{
                width: 25%;
                height: 330px;
                border-radius: 10px;
                margin:0px 15px;
                background-color: #fff;
                img{
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }
                h3{
                    color: $primery-color;
                    font-size: 20px;
                    font-weight: 400;
                    margin: 10px;
                }
                p{
                    color: $pg-color;
                    font-size: 14px;
                    font-weight: 300;
                    margin: 10px;
                    line-height: 25px;
                }
            }
        }
        .blue-btn{
            text-align: center;
            
            button{
                background-color: $primery-color;
                padding: 10px 24px;
                font-size: 15px;
                color: #fff;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: 0.7s;
                &:hover{
                    background-color: #000000;
                }
            }
        }
    }
}
