.header{
    width: 100%;
    height: 100vh;
    .navbar{
    @include flex-box(space-evenly,flex-start);
}
    .logo{
        margin-top: 20px;
    }
        ul{
            display: flex;
            list-style: none;
            line-height: 200px;
            a{
                margin: 0px 30px 2px 0px;
                text-decoration: none;  
                color: $primery-color;
                transition: 0.5s;
                &:hover{
                    border-bottom: 2px solid $primery-color;
                }
            }
        }
        .heading{
        position: relative;
        background-color: #000;
        
        .banner-img{
            opacity: 0.4;
            margin-bottom: -5px;
        }

    .subheading{
        position: absolute;
        top: 220px;
        right: 100px;
        h1{
            color:#fff;
            font-size: 40px;
            margin-bottom: 40px;
            font-weight: 300;
        }
        a{
            text-decoration: none;
            font-size: 16px;
            color: $primery-color;
            padding: 12px 30px;
            border: 1px solid #fff;
            border-radius: 5px;
            background-color: #fff;
            transition: 0.5s;
            &:hover{
                background-color: #000;
                color: #fff;
            }
        }
        .fixed-img{
            position: absolute;
            top:170px;
            right: 0px;
            img{
                position: fixed;
            }
        }
        
       }
    }
}
    
