.highlight-box{
    @include flex-box;
    margin-top:50px;
    .highlight-text{
        margin: -60px 20px 0px 20px;
        h3{
            color: $primery-color;
            font-size: 24px;
            font-weight: 400;
        }
        p{
            color: $pg-color;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
        }
        .blue-btn{
            text-align: start;
        }
    }
}
